@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body {
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: 'PT Mono', monospace;
  font-size: 1rem;
  background: #EDEEEF;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  /* height: 5.0625rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 0 12.1875rem;
  background: #EDEEEF;
}

/* navigation */
nav {

}

nav > ul {

}

nav > ul > li {
    display: inline-block;
    padding: 0 2.5rem;
}

nav > ul > li > a {
    font-weight: 400;
    line-height: 1.125rem;
    color: #383838;
    text-decoration: none;
}

.sign {
    width: 9.25rem;
    height: 3rem;
    background: #DB0060;
    border-radius: .25rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #FFFFFF;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* padding-top: 121px; */
}

/* first page */
section.main {
    position: relative;
    justify-content: end;
    gap: 8.625rem;
}

section.main::after {
    content: "";
    position: absolute;
    background: url("/svg/left.svg");
    left: 0;
    bottom: 0;
    width: 666px;
    height: 604px;
}

section.main::before {
    content: "";
    position: absolute;
    background: url("/svg/rigth.svg");
    right: 0;
    top: 0;
    width: 520px;
    height: 711px;
}

section.main > .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section.main > .info > h2 {
    font-weight: 700;
    font-size: 5rem;
    line-height: 5.625rem;
    text-align: center;
    font-variant: small-caps;
    color: #383838;
    max-width: 50rem;
}

section.main > .info > p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.8125rem;
    color: #383838;
    max-width: 55rem;
    margin-bottom: 2rem;
}

section.main > .info > a {
    width: 12.3125rem;
    height: 3.375rem;
    background: #DB0060;
    border-radius: .25rem 1rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.125rem;
    text-align: center;
    line-height: 3.375rem;
    color: #FFFFFF;
}

section.main > .category {
    width: 100%;
    height: 9.0625rem;
    background: #5DB039;
    padding: 0 12.1875rem;
    display: flex;
    align-items: center;
    z-index: 9;
}

section.main > .category ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section.main > .category li {
    display: inline-block;
}

section.main > .category li a {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #383838;
    text-decoration: none;
}

.scroll-down {
    align-self: flex-end;
    position: relative;
    right: 12.5rem;
    bottom: 7rem;
}

/* first page */

/* about */
section.about {

}

section.about > .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 12.1875rem 9.9375rem 16.375rem;
}

section.about > .wrapper > article.img {
    width: 490px;
    height: 800px;
    background: #D9D9D9;
}

section.about > .wrapper > article.text {
    
}
/* about */

.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: gray;
}